input[type=text] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;  
    border-color: grey;
    border-width: 1px;
}

.delete {
    position: relative;
    float: right;
}

.edit {
    position: relative;
    float: left;
}