<div  *ngIf="true">
  <div class="modal">
    <p class="text">Enter username</p>
    <form (submit)="saveUsername()" [formGroup]="usernameForm">
      <input class="username-area" formControlName="username" type="textarea">
      <button class="usernameButton">Confirm</button>
    </form>
  </div>
</div>
<div *ngIf="username" class="main">
  <div class="header"></div>
  <div class="chat-full">
    <div class="group-list">
      <ul class="listgroup">
        <li (click)="openChat(group)" *ngFor="let group of chatGroups" class="groupslist">
          <p style="margin-left: 10px; margin-top: 3px; margin-right: 3px;">
            {{group.name}}
          </p>
        </li>
      </ul>
      <hr style="margin: 10px">
      <ul class="listgroup">
        <li (click)="openChat(group)" *ngFor="let group of activeGroup" [style.background-color]="group.hasNewMessage?'	#00b359':'#095085'"
            class="groupslist">
          <p style="margin-left: 10px; margin-top: 3px; margin-right: 3px;">
            {{group.name}}
            <button (click)="removeGroup(group)" class="joinleave">
          <span class="joinleavecolor">
              Leave
          </span>
            </button>
          </p>
        </li>
      </ul>
    </div>
    <br>
    <div #scroll *ngIf="showChat" class="chat">
      <div (click)="editMesage(messages)" *ngFor="let messages of messageTobeShownInchat"
           [style.text-align]=" messages.type === 'JOIN' ? 'center' : username === messages.sender ? 'right':'left'"
           class="message">
        <div [style.background-color]="messages && messages.type === 'DELETE' ? '#ec8383': messages.type === 'CHAT' || messages.type === 'EDIT' ? '#a3d063' : '#48a0c9'"
             [style.padding]="messages.typee !== 'CHAT' ? '0px 14px 0px' : '5px 10px 8px 10px'"
             class="sender">
          <div class="username">{{messages.sender}}<br>
            <div *ngIf="messages.file">
              <img (click)="openImg(messages.file)" [src]="'data:image/png;base64,' + messages.file" alt="Image"
                   class="image">
            </div>
            <div *ngIf="messages.type !== 'IMAGE'">
              {{messages.context}}<br><br>
              {{messages.time}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!showChat" class="chat">
      <div class="selectChat">
        Select a chat
      </div>
    </div>
  </div>
  <div *ngIf="!join" class="chat">
  </div>
  <div class="actions">
    <div class="add-group">
      <button (click)="addGroup()" class="addClass" mat-raised-button>
        <mat-icon>add</mat-icon>
        Add Chat Group
      </button>
    </div>
    <div class="send-message">
      <form (submit)="sendMessage()"  [formGroup]="messageForm">
        <div class="buttons">
          <input (keyup)="write($event)" class="text-area" formControlName="message" placeholder="Send a message"
                 type="textarea">
          <button mat-icon-button (click)='fileinput.click()'
                  class="upload"
                  type="button">
            <mat-icon>{{imgsrc ? 'check_box' : 'add_a_photo'}}</mat-icon>
          </button>
          <button [disabled]="sendDisabled" class="send-msg">Send</button>
        </div>
        <input #fileinput (change)="onFileSelected($event)" style="display: none" type="file">
      </form>
    </div>
  </div>
</div>
<ng-template #modal>
  <div style="width: 600px;height: 600px; background-color: transparent">
    <img [src]="'data:image/png;base64,' + selecteImage" alt="Image"
         class="image" style="height: 100%; width: 100%; object-fit: contain">
  </div>
</ng-template>

